<div class='container'>
  <div class='row m-3'>
    <div class='fixed-bottom' style="height:30px">
      <div class="text-center">
      Copyright © 2022 Docchi Inc. All Rights Reserved.
      </div>
    </div>
  </div>
</div>